</article>
<div style="position: fixed;top:0;left:0;z-index:-999999;overflow: hidden;">
	<img src="http://127.0.0.1:3000/images/bg.jpg">
</div>
<script type="text/javascript">
	$(function(){
		getTime.init();
	})
	var getTime = {
		WEEK : ['星期天','星期一','星期二','星期三','星期四','星期五','星期六'],
		setNum:function(n){
			n = n+"";
			if(n.length==1){
				n = "0"+n;
			}
			return n;
		},
		format:function(){
			setInterval(function(){
				var date = new Date();
				var weekDay = getTime.WEEK[(date.getDay())];
				var hms = getTime.setNum(date.getHours())+":"+getTime.setNum(date.getMinutes())+":"+getTime.setNum(date.getSeconds());
				var time = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()+" "+weekDay+" "+hms;
				$("#nowTime").html(time);
				console.log(date.getDay());
			},1000);
		},
		init: function () {
			this.format();
		}
	}
</script>
</body>
</html>